services:
  blue-web:
    container_name: blue-web
    image: custom-nginx:latest
    restart: always
    volumes:
      - /media:/media
      - /etc/nginx/current:/etc/nginx:ro
      - /var/cache/nginx:/var/cache/nginx

  green-web:
    container_name: green-web
    image: custom-nginx:latest
    restart: always
    volumes:
      - /media:/media
      - /etc/nginx/current:/etc/nginx:ro
      - /var/cache/nginx:/var/cache/nginx