#!/bin/bash

sudo touch /var/log/ami-install.log

echo "$(date '+%Y-%m-%d %T') - update system" | sudo tee -a  /var/log/ami-install.log > /dev/null
sudo dnf update

# create swap file
echo "$(date '+%Y-%m-%d %T') - create swap file" | sudo tee -a  /var/log/ami-install.log > /dev/null
sudo /bin/dd if=/dev/zero of=/var/swap.1 bs=1M count=1024
sudo chmod 0600 /var/swap.1
sudo /sbin/mkswap /var/swap.1
sudo /sbin/swapon /var/swap.1

# Install Cloudwatch agent
echo "$(date '+%Y-%m-%d %T') - install CloudWatch agent" | sudo tee -a  /var/log/ami-install.log > /dev/null
sudo dnf install amazon-cloudwatch-agent -y
sudo aws s3 cp s3://{{ s3_deployment_bucket }}/{{ s3_deployment_root }}/cloudwatch/cloudwatch-agent-config.json /opt/aws/amazon-cloudwatch-agent/bin/config.json
sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json

echo "$(date '+%Y-%m-%d %T') - install collectd" | sudo tee -a  /var/log/ami-install.log > /dev/null
sudo dnf install collectd -y

echo "$(date '+%Y-%m-%d %T') - install docker" | sudo tee -a  /var/log/ami-install.log > /dev/null
sudo dnf install docker -y
sudo usermod -aG docker ssm-user
sudo usermod -aG docker ec2-user
sudo mkdir /var/docker

echo "$(date '+%Y-%m-%d %T') - install wget" | sudo tee -a  /var/log/ami-install.log > /dev/null
sudo dnf -y install wget

# install docker-compose
echo "$(date '+%Y-%m-%d %T') - install docker-compose" | sudo tee -a  /var/log/ami-install.log > /dev/null
sudo curl -s https://api.github.com/repos/docker/compose/releases/latest \
  | grep browser_download_url \
  | grep docker-compose-linux-x86_64 \
  | cut -d '"' -f 4 \
  | sudo wget -qi -
sudo chmod +x docker-compose-linux-x86_64
sudo mv docker-compose-linux-x86_64 /usr/local/bin/docker-compose

# install yq
echo "$(date '+%Y-%m-%d %T') - install yq" | sudo tee -a  /var/log/ami-install.log > /dev/null
sudo wget https://github.com/mikefarah/yq/releases/download/v4.43.1/yq_linux_amd64 -O /usr/bin/yq && sudo chmod +x /usr/bin/yq

echo "$(date '+%Y-%m-%d %T') - start docker" | sudo tee -a  /var/log/ami-install.log > /dev/null
sudo systemctl enable docker
sudo systemctl start docker

# prepare mount for uploaded files
echo "$(date '+%Y-%m-%d %T') - create mount directory" | sudo tee -a  /var/log/ami-install.log > /dev/null
sudo mkdir -p /app
sudo mkdir -p /app/media
#sudo chown -R apache:apache /media
sudo chmod 2775 /app/media && find /app/media -type d -exec sudo chmod 2775 {} \;
sudo find /app/media -type f -exec sudo chmod 0664 {} \;

## TODO
## create a script checking the connection to database and if docker is running
## on error send notification

# set environment variables
echo "$(date '+%Y-%m-%d %T') - set environment variables" | sudo tee -a  /var/log/ami-install.log > /dev/null
echo 'export TRAEFIK_IMAGE="none"' |tee -a /etc/environment
echo 'export FORMS_APP_IMAGE="none"' | tee -a /etc/environment

cat << EOF > /var/finish-init.txt
[status]
finished = true
EOF
