name: Copy database to development

on:
  workflow_dispatch:
    inputs:
      source:
        type: choice
        description: Source
        required: true
        default: production
        options:
          - production
          - staging

concurrency:
  group: copy-db-${{ inputs.source }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Copy database to development
        run: |
          echo "Copy ${{ inputs.source }} DB to development"
