name: Update environment variables

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to update
        type: choice
        required: true
        options:
          - develop
          - staging
          - production
      notify-slack:
        description: Send Slack message
        type: boolean
        required: true
        default: true

permissions: {}

concurrency:
  group: deploy-${{ github.event.inputs.environment }}
  cancel-in-progress: false

jobs:
  update-variables:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.environment }}
      url: https://${{ github.event.inputs.environment == 'staging' && 'staging-www' || github.event.inputs.environment == 'develop' && 'dev-www' || 'www' }}.nationalarchives.gov.uk/
    strategy:
      matrix:
        service:
          - frontend
          - enrichment
          - wagtail
          - catalogue
          - search
          - wagtaildocs
          - requestservicerecord
          - forms
    permissions:
      id-token: write
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6

      - name: Configure AWS credentials
        if: ${{ github.event.inputs.environment == 'develop' }}
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          aws-region: eu-west-2
          role-to-assume: arn:aws:iam::846769538626:role/GithubOIDCProviderIAMRolePermissions-Role-I80RXHT6O1PL
          role-session-name: GitHubActionsSession

      - name: Configure AWS credentials
        if: ${{ github.event.inputs.environment == 'staging' }}
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          aws-region: eu-west-2
          role-to-assume: arn:aws:iam::337670467269:role/GitHubActionRole
          role-session-name: GitHubActionsSession

      - name: Configure AWS credentials
        if: ${{ github.event.inputs.environment == 'production' }}
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          aws-region: eu-west-2
          role-to-assume: arn:aws:iam::968803923593:role/github-oidc-Role-1QSZDDE2NZQV0
          role-session-name: GitHubActionsSession

      - name: Update SSM parameters
        uses: ./.github/actions/update-environment-variables
        with:
          service-name: ${{ matrix.service }}
          environment: ${{ github.event.inputs.environment }}
          parameter-path: /application/web/${{ matrix.service }}

      - name: Deploy service
        uses: ./.github/actions/deploy
        with:
          config-file: ${{ github.event.inputs.environment }}.json
          service-name: ${{ matrix.service }}
          parameter-path: /application/web/${{ matrix.service }}/docker_images
          deployed-parameter-path: /application/web/${{ matrix.service }}/deployed_version

  tests:
    runs-on: ubuntu-latest
    needs:
      - update-variables
    env:
      GH_TOKEN: ${{ secrets.ACTIONS_GITHUB_TOKEN_TEST_RUNNER }}
    steps:
      - uses: actions/checkout@v6
      - name: Run tests
        run: |
          gh workflow run run.yml --repo nationalarchives/ds-tna-website-tests --field site=all --field environment=${{ github.event.inputs.environment }} --raw-field exclude-tests=@wip --field notify-slack-on-pass=${{ inputs.notify-slack }} --field notify-slack-on-fail=${{ inputs.notify-slack }} --raw-field description="$(git log -1 --pretty=%B | sed '/./,$!d' | sed '/^$/d' | sed 's/^/> /')"
          sleep 5
          gh run watch --exit-status --repo nationalarchives/ds-tna-website-tests $(gh run list --repo nationalarchives/ds-tna-website-tests --workflow run.yml -L1 --json databaseId --jq .[0].databaseId)
