name: Deploy to develop

on:
  push:
    branches:
      - main
    paths:
      - config/parameters/**/develop.json
      - config/develop.json
  workflow_dispatch:

concurrency:
  group: deploy-develop
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: develop
      url: https://dev-www.nationalarchives.gov.uk/
    strategy:
      matrix:
        service:
          - frontend
          - enrichment
          - wagtail
          - catalogue
          - search
          - wagtaildocs
          - requestservicerecord
    permissions:
      id-token: write
    timeout-minutes: 15
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: eu-west-2
          role-to-assume: arn:aws:iam::846769538626:role/GithubOIDCProviderIAMRolePermissions-Role-I80RXHT6O1PL
          role-session-name: GitHubActionsSession

      - name: Update SSM parameters
        uses: ./.github/actions/update-environment-variables
        with:
          service-name: ${{ matrix.service }}
          environment: develop
          parameter-path: /application/web/${{ matrix.service }}

      - name: Deploy service
        uses: ./.github/actions/deploy
        with:
          config-file: develop.json
          service-name: ${{ matrix.service }}
          parameter-path: /application/web/${{ matrix.service }}/docker_images
          deployed-parameter-path: /application/web/${{ matrix.service }}/deployed_version

  tests:
    runs-on: ubuntu-latest
    needs:
      - deploy
    env:
      GH_TOKEN: ${{ secrets.ACTIONS_GITHUB_TOKEN_TEST_RUNNER }}
    steps:
      - uses: actions/checkout@v6

      - name: Run tests
        run: |
          HOUR=$(date +"%H")
          DAY_OF_WEEK=$(date +%u)
          if [ "$HOUR" -ge 9 ] && [ "$HOUR" -le 17 ] && [ "$DAY_OF_WEEK" -ge 1 ] && [ "$DAY_OF_WEEK" -le 5 ];
          then
            echo "Running tests during working hours"
            gh workflow run run.yml --repo nationalarchives/ds-tna-website-tests --field site=all --field environment=develop --raw-field exclude-tests="@wip|@requires-wordpress" --field notify-slack-on-pass=false --field notify-slack-on-fail=true --raw-field description="$(git log -1 --pretty=%B | sed '/./,$!d' | sed '/^$/d' | sed 's/^/> /')"
            sleep 5
            gh run watch --exit-status --repo nationalarchives/ds-tna-website-tests $(gh run list --repo nationalarchives/ds-tna-website-tests --workflow run.yml -L1 --json databaseId --jq .[0].databaseId)
          else
            echo "Skipping tests outside working hours"
          fi
