name: Update environment variables

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        options:
          - dev
          - staging
          - live

permissions:
  id-token: write
  contents: read

jobs:
  sync-parameters:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set AWS Role
        id: set-role
        run: |
          if [ "${{ github.event.inputs.environment }}" = "dev" ]; then
            echo "role=arn:aws:iam::846769538626:role/GithubOIDCProviderIAMRolePermissions-Role-I80RXHT6O1PL" >> $GITHUB_OUTPUT
          elif [ "${{ github.event.inputs.environment }}" = "staging" ]; then
            echo "role=arn:aws:iam::337670467269:role/GitHubActionRole" >> $GITHUB_OUTPUT
          else
            echo "role=arn:aws:iam::968803923593:role/github-oidc-Role-1QSZDDE2NZQV0" >> $GITHUB_OUTPUT
          fi

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ steps.set-role.outputs.role }}
          role-session-name: GitHubActionsSession
          audience: sts.amazonaws.com
          output-env-credentials: true

      - name: Sync parameters and restart services
        run: |
          SERVICES=("frontend" "wagtail" "wagtaildocs" "search" "catalogue" "enrichment" "requestservicerecord")

          declare -A SERVICE_INSTANCES=(
            ["frontend"]="web-frontend"
            ["wagtail"]="web-wagtail"
            ["wagtaildocs"]="web-wagtaildocs"
            ["search"]="search"
            ["catalogue"]="web-catalogue"
            ["enrichment"]="web-enrichment"
            ["requestservicerecord"]="request-service-record"
          )

          for SERVICE in "${SERVICES[@]}"; do
            FILE="config/parameters/$SERVICE/${{ github.event.inputs.environment }}.json"
            PARAM_PATH="/application/web/$SERVICE"

            if [ ! -f "$FILE" ]; then
              echo "File $FILE does not exist. Skipping $SERVICE."
              continue
            fi

            echo "Syncing $SERVICE from $FILE to $PARAM_PATH..."

            NEW_JSON=$(cat "$FILE")
            FORMATTED_JSON=$(echo "$NEW_JSON" | jq '.')
            
            aws ssm put-parameter \
              --name "$PARAM_PATH" \
              --type "String" \
              --value "$FORMATTED_JSON" \
              --overwrite

            echo "$SERVICE synced successfully!"

            INSTANCE_NAME=${SERVICE_INSTANCES[$SERVICE]}
            if [ -z "$INSTANCE_NAME" ]; then
              echo "No instance mapping found for $SERVICE. Skipping startup."
              continue
            fi

            INSTANCE_IDS=$(aws ec2 describe-instances \
              --filters "Name=tag:Name,Values=$INSTANCE_NAME" "Name=instance-state-name,Values=running" \
              --query "Reservations[].Instances[].InstanceId" \
              --output text)

            if [ -z "$INSTANCE_IDS" ]; then
              echo "No running instances found for $INSTANCE_NAME. Skipping startup."
              continue
            fi

            for INSTANCE_ID in $INSTANCE_IDS; do
              echo "Restarting the container for $INSTANCE_NAME ($INSTANCE_ID)..."

              COMMAND_ID=$(aws ssm send-command \
                --targets "Key=InstanceIds,Values=$INSTANCE_ID" \
                --document-name "AWS-RunShellScript" \
                --comment "Run startup.sh" \
                --parameters 'commands=["bash /usr/local/bin/startup.sh"]' \
                --query "Command.CommandId" \
                --output text)

              STATUS="Pending"
              while [[ "$STATUS" != "Success" ]]; do
                sleep 10
                STATUS=$(aws ssm list-command-invocations \
                  --command-id "$COMMAND_ID" \
                  --details \
                  --query "CommandInvocations[0].Status" \
                  --output text)
              done

              OUTPUT=$(aws ssm get-command-invocation \
                --command-id "$COMMAND_ID" \
                --instance-id "$INSTANCE_ID" \
                --query "StandardOutputContent" \
                --output text)

              if echo "$OUTPUT" | grep -q "Startup completed successfully"; then
                echo "Startup completed successfully for $INSTANCE_NAME ($INSTANCE_ID)"
                echo "Container restarted for $INSTANCE_NAME ($INSTANCE_ID)"
              else
                echo "Startup failed for $INSTANCE_NAME ($INSTANCE_ID)"
              fi
            done

          done
